<div class="container">
  
    <div class="inner-container">
      <h1>Users</h1>
      
    </div>
  
   <!-- user list  -->

   <div class="wrapper">
    <ag-grid-angular
    style="width: 550px; height: 300px;"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs">

    </ag-grid-angular>
    <strong class="avg_age"> Average Age: {{average_age}} </strong>
   </div>

  <br />
  <p class="component-title"> User manager </p>
  <hr>
  
  <p class="view-users" [routerLink]="['/add-user']" routerLinkActive = "false" > Add user </p>
  
  <style>
    .no-style .ng-valid {
    border-left: 1px  solid #CCC
  }
  
    .no-style .ng-invalid {
    border-left: 1px  solid #CCC
  }
  </style>
  </div>
  
  
  
  