<div class="container">
  <!-- <div routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"> -->
     
  <div class="inner-container">
    <h1>Add User</h1>
    <form  #profileForm="ngForm" (ngSubmit)="addUser(profileForm)">
      <div class="form-group">
        <label for="name" class="lbl">Name</label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="user.name" name="name"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>
       <label for="lastname" class="lbl">Last name</label>  
      <input type="text" class="form-control" id="lastname"
        required
        [(ngModel)]="user.surname" name="surname"
        #name="ngModel">
            <div [hidden]="name.valid || name.pristine"
                  class="alert alert-danger">
                  Surname is required
        </div>

        <mat-form-field class="dob" (click)="picker.open()" appearance="fill" >
          <mat-label>Choose a date of birth</mat-label>
          <input matInput [matDatepicker]="picker"   [(ngModel)]="user.dob" name="dob" >
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    

      </div>
     
    
      <button type="submit" class="btn btn-success" [disabled]="!profileForm.form.valid">Submit</button>
  

    </form>
     
  </div>

<!-- ====================================================  -->
<p class="component-title"> User manager </p>
<hr>

<p class="view-users" [routerLink]="['/view-users']" routerLinkActive = "false" > View users </p>

<style>
  .no-style .ng-valid {
  border-left: 1px  solid #CCC
}

  .no-style .ng-invalid {
  border-left: 1px  solid #CCC
}
</style>
</div>
<!-- </div> -->


