
<nav>
    <a class="button" routerLink="/add-user" routerLinkActive="activebutton" hidden> Add user  </a> 
    <a class="button" routerLink="/view-users" routerLinkActive="activebutton" hidden> View users</a>
</nav>

<router-outlet></router-outlet>

