@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";



/* Global Styles */
.container{
  width: 40%;
  margin-top: 10%;
 
}

.container2{

  width: 40%;
  margin-top: 10%;
 
}

.wrapper .avg_age {
  text-align: center;
}
.avg_age {
  font-weight: bolder;
  color: #607D8B;
  padding: 5px;
  margin-left: 6px;
  
}
.wrapper {
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;


  min-height: 200px;
  width: 97.8%;
  background: white;
  border-radius: 5px;

}
.dob{
  margin-top: 5px;
  width: 100%;
  border-radius: 10px;
}
.wrapper p {
  padding-top: 10%;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-content: center;
  display: flex;
  color: lightslategray;
  font-weight: bold;
}
.container .component-title {
  width: 100%;
  text-align: center;
  color: gray;
  font-size: 0.7em;
}
.container .view-users {
  width: 100%;
  background-color: gray;
  text-align: center;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  font-size: 0.9em;
  font-weight: bold;
  padding: 10px; 
  
}
.container .view-users:hover {
  background-color: #3e3e3e;
}
.lbl {
  color: gray;
  font-size: .8em;
  margin-left: 5px;
}
.inner-container {
  
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
 
  margin: 0 8px 16px;
  padding: 16px;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}
.form-control {
  margin: 5px;
}
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #333;
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
